storage:
  dbPath: /data/db
  journal:
    enabled: true

systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

net:
  bindIpAll: true
  port: {{ mongodb_port }}

replication:
  replSetName: "{{ mongodb_replica_name }}"