[Unit]
Description=MongoDB Service
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker stop {{ item.name }}
ExecStartPre=-/usr/bin/docker rm {{ item.name }}
ExecStart=/usr/bin/docker run --rm --name {{ item.name }} --network=mongo_network \
    -p {{ item.port }}:27017 \
    -v /var/lib/mongodb{{ item.num }}/data:/data/db \
    -v /var/log/mongodb{{ item.num }}:/var/log/mongodb \
    -v /etc/mongod{{ item.num }}/mongod.conf:/etc/mongo.conf \
    mongo:4.4.6
ExecStop=/usr/bin/docker stop {{ item.name }}
ExecStopPost=-/usr/bin/docker rm {{ item.name }}

[Install]
WantedBy=multi-user.target